body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
html {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

:root {
  --main-font-color: #000000;
  --main-background-color: #ffffff;

  --header-background-color: #f4f5f6;
  --header-font-color: var(--main-font-color);
  --header-subtitle-color: #817d7d;
  --header-border-color: #d1d1d1;

  --footer-background-color: var(--header-background-color);
  --footer-border-color: var(--header-border-color);

  --accent-color: #FFC300;
  --accent-color-light: #fff3d4;
  --accent-color-dark: #fd9431;
  --accent-color-disabled: #d1d1d1;

  --dashboard-camera-background: #817d7d;
  --dashboard-camera-icon: #f4f5f6;

  --text-primary-color: #000000;
  --text-secondary-color: #777777;

  --accent-background-color: #E1E1E1;
}
